<html>
  <% 
    def link_to(name, url)
      return "<a href='#{url}'>#{name}</a>"
    end
  %>
  <%= @request.query.inspect %>
  <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
    Hello there <%= @request.query['first_name'] %>
  <% else %>
    Enter thy name please
    <form method='post' action="<%= @request.path %>">
      First name: <input type="text" name="first_name" placeholder='first name'/><br />
      <input type="submit" value="Submit" />
    </form>
  <% end %>
  <body>
    <h1>Created using a layout</h1>
    <p>
      <h3>Example of a header</h3>
      <p>Things in the header</p>
      <ul>
        <%= link_to('This is a link to google', 'http://google.com') %>
      </ul>
      <a href='me.html'>Me</a>
      <a href='kody.html'>Kody</a>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3>Wow!, a footer!</h3>
      <p>foot foot foot foot</p>
      <%= link_to('Linky linkk to Github', 'http://github.com') %>
    </div>
  </body>
</html>